hello({
'.header' : {
display : 'none'
},

'nav#menu' : {
width: '100%',
position : 'inherit',
height : 'auto'
},
'nav#menu .nav-content ul.left-menu li.last' : {
'margin-bottom': '0px'
},

'.profile-container' : {
display:'none'
},

'nav#menu .nav-content':{
'padding-bottom':'0px'
}
})
